.uploadForm{
    background-image: url(../../images/form-background.png);
    background-size: cover;
    display: flex;
    height: 20vh;
    font-family: "TenorSans-Regular";
    font-weight: bold;
    color: #F8F4EC;
    display: flex;
    justify-content: center;
    align-items: center;
    /* added sticky footer */
    position: fixed;
    bottom: 0;
    width:100%;
}

.label-background{
    background-color: #7f7c64 !important;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.uploadButton{
    background-color: #D8D2BE;
    border-color: #D8D2BE; 
    color: #38372c;
    margin: 0 5px;
}

.uploadButton:hover{
    background-color: #4e4d3d;
    color:#D8D2BE;
    border-color: #4e4d3d; 
}

.urlInput{
    margin: 0 5px;
}

.descriptionInput{
    margin: 0 5px;
}

.addImageTitle{
    margin-bottom: 0;
}

hr{
    margin: 8px 0px 10px;
}

.showUploadButton{
    /* fixed always stays in view when you scroll */
    position: fixed;
    /* bottom is saying how far the item is from the bottom of the page */
    bottom: 0;
    /* activate flex-box */
    display: flex;
    /* bring to the right of page */
    justify-content: flex-end;
    width: 100%;
    padding: 30px;
}

.hideUploadButton{
    position: fixed;
    display: flex;
    /* bring to the right of page */
    justify-content: flex-end;
    width: 100%;
    padding: 30px;
    bottom: 10vh;
}


.closeIcon{
    font-size: 36px !important;
    color: #F8F9FA;
}

.closeIcon:hover{
    font-size: 36px !important;
    cursor: pointer;
}

.addAPhotoIcon{
    font-size: 40px !important;
}

.addAPhotoIcon:hover{
    font-size: 50px !important;
    color: #7f7c64;
    cursor: pointer;
    transition: .2s;
}

.uploadBackground{
    background-color: #F7F5EC !important;
}