.App-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Carphe";
    text-align: center;
    padding: 20px; 
    color: #2C2C2C;
    background-color: #F7F5EC;
}

.subHeading{
    position: absolute;
    font-size: 72px;
    margin-top: 200px;
}

.firstAndLastName{
    margin-top: 2px;
    font-size: 25px;
    letter-spacing: 3px;
}


h1{
    font-size: 150px;
}