.galleryContainer{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #F7F5EC;
  }  

.gallerySection{
    background-color: #F7F5EC;
}

.galleryContainer div {
  /* width: 30%; */
  /* height: 300px; */
  /* border:1px solid black; */
  margin-bottom: 15px;
  text-align: center;
}

img{
  /* object-fit first as much of the image as it can without affecting the aspect ratio */
  object-fit: contain;
  height: 300px;
  width: 100%;
}

.galleryCard{
    margin: 2px 2px;
    padding: 5px;
}

.cardImage{
    padding: 5px;
    height: 300px;
}

  
.heartIconRed{
    height: 30px;
    width: auto;
    color: #EA4C89;
}

.heartIconRed:hover{
    cursor: pointer;
}

.heartIconGray{
    height: 30px;
    width: auto;
    color: #2C2C2C;
}

.heartIconGray:hover{
    width: auto;
    color: #EA4C89;
    cursor: pointer;
}


.likesCount{
    font-family: "TenorSans-Regular";
    font-size: 24px;
}

.heartLikeCount{
    display: flex;
}

.deleteIcon{
    height: 30px;
    /* width: auto; */
    color: #2C2C2C;
    /* display: flex;
    justify-content: flex-end;
    margin-left: 200px; */
}

.deleteIcon:hover{
    width: auto;
    color: #EA4C89;
    cursor: pointer;
}

.heartLikeAndDelete{
    /* width: 300px; */
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.description {
    display: flex;
    /* align-items - y or vertical positioning */
    align-items: center;
    /* flex-wrap: wrap; */
    font-family: "TenorSans-Regular";
    height: 300px;
    font-size: 25px;
    background-color: #ffffff;;
}


